.easel
{
    width: 500px;
    background: #1a1a1a;
    flex: 1 0 auto;
    /* border: 1px solid #373945; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas_page 
{
    position: absolute;
    width: 500px;
    height: 500px;
    background: white;
    flex: 1 0 auto;
    border: 1px solid #373945;
    display: flex;
    justify-content: center;
    align-items: center;
}